extends ../layout.pug

block title  
  title SACM Architecute
block content  
  iframe(src="/doc/api/index.html", width="100%", height="100%", onload="resizeIframe(this)", frameborder="0", scrolling="no")

