extends ../layout.pug

block title  
  title SACM Architecture
block content  
  div(class="section")
    h2 Conceptual Architecture
    img(src='/doc2/assets/architecture.png', width="80%")

    h2 Docker Deployment
