doctype html  
html  
  head
    style
      include ../style.css
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato')
    title SACM Documenation
    
  body
    div.content
      h1 Smart Adaptive Case Management (SACM)
      
      a(href="/doc2/architecture")
        div(class="box")
          h2 Architecute
          img(src='/doc2/assets/architecture.png', width="100%")

      a(href="/doc2/model")
        div(class="box")
          h2 Meta Model
          object(data="/doc2/assets/metamodel.svg",type="image/svg+xml",width="100%")

      a(href="/doc2/howtostart")
        div(class="box")
          h2 How to Start
          img(src='/doc2/assets/howtostart.png', width="100%")

      a(href="/doc2/api")
        div(class="box")
          h2 API Documenation
          img(src='/doc2/assets/api.png', width="100%")
