//- header.jade
header.site-header  
  nav.site-nav
    ul 
      li 
        a(href='/doc2') SACM Docu
      li 
        a(href='/doc2/architecture',  class= (active=='architecture') ? 'active' : 'passive') Architecture
      li 
        a(href='/doc2/model',  class= (active=='model') ? 'active' : 'passive') Meta-Model 
      li 
        a(href='/doc2/howtostart', class= (active=='howtostart') ? 'active' : 'passive') How to Start Development
      li 
        a(href='/doc2/api', class= (active=='api') ? 'active' : 'passive') API Doc