doctype html  
html  
  head
    style
      include style.css
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato')
    script 
      include ./assets/script.js
    block title
      title SACM Documenation
    
  body
    include ./header.pug
    div.content
      block content