doctype html  
html  
  head
    style
      include style.css
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato')

    block title
      title Default title
    
  body
    include ./header.pug
    div.content
      block content