body{
    margin: 0px;
    font-family: 'Lato', serif;
}
nav{
    background-color: #662482;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #ddd;
}

nav li a.active {
    color: white;
    background-color: #4CAF50;
}

.content{
    margin: 15px;
}


.container{
    margin-top: 20px;
    padding:5px 10px;
    border-left: 5px solid gray;
}
.container:hover{
    border-left: 5px solid red;
    cursor: pointer;
}
.container h2{
    margin-top:10px;
}

.container.roles{
    background-color:#B3CB65;
}
.container.workspace{
    border-color:gray;
    background-color:#B3CB65;
}
.container.casedefinition{
    background-color: #FFD383;
}
.container.case{
    background-color: #FFFF83;
}
.container.datadefinition{
    background-color:#A5A5A5;
}
.container.data{
    background-color:#E4E4E4;
}

a.link:link, a.link:visited, a.link:active {
    color: #cc0000; 
    background-color: transparent; 
    text-decoration: none;
}         
a.link:hover {
    color: #b30000;
    background-color: transparent;
    text-decoration: underline;
}