header.site-header  
  nav.site-nav
    ul 
      li 
        a(href='/doc') SACM Docu
      li 
        a(href='/doc/architecture',  class= (active=='architecture') ? 'active' : 'passive') Architecture
      li 
        a(href='/doc/model',  class= (active=='model') ? 'active' : 'passive') Meta-Model 
      li 
        a(href='/doc/gettingstarted', class= (active=='gettingstarted') ? 'active' : 'passive') Getting Started
      li 
        a(href='/doc/api', class= (active=='api') ? 'active' : 'passive') API Doc
      li 
        a(href='https://documenter.getpostman.com/view/1815062/sacm/6Z3tXf7', class= (active=='postman') ? 'active' : 'passive') Postman Collection