extends ../layout.pug

block title  
  title SACM Documentation
block header

block content
    div.index
      h1 
        span.first S
        span.middle mart 
        span.first A
        span.middle daptive 
        span.first C
        span.middle ase 
        span.first M
        span.middle anagement 
        
      
      div.inline
        a(href="/doc/architecture")
          div.box
            | Architecture
            br
            br
            img(src='/doc/assets/architecture.png', width="100%")
      
      div.inline
        a(href="/doc/model")
          div.box
            | Meta-Model
            br
            br
            object(data="/doc/assets/metamodel.svg",type="image/svg+xml",width="100%")
      div.inline
        a(href="/doc/gettingstarted")
          div.box
            | Getting Started
            br
            br
            img(src='/doc/assets/gettingstarted.png', width="100%")

      div.inline
        a(href="/doc/api")
          div.box
            | API Documenation
            br
            br
            img(src='/doc/assets/api.png', width="100%")
