doctype html  
html  
  head
    style
      include ../style.css
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato')
    title SACM Documenation
    
  body
    div.content
      h1 <b>S</b>mart <b>A</b>daptive <b>C</b>ase <b>M</b>anagement (SACM)
      
      a(href="/doc/architecture")
        div(class="box")
          h2 Architecture
          img(src='/doc/assets/architecture.png', width="100%")

      a(href="/doc/model")
        div(class="box")
          h2 Meta Model
          object(data="/doc/assets/metamodel.svg",type="image/svg+xml",width="100%")

      a(href="/doc/gettingstarted")
        div(class="box")
          h2 Getting Started
          img(src='/doc/assets/gettingstarted.png', width="100%")

      a(href="/doc/api")
        div(class="box")
          h2 API Documenation
          img(src='/doc/assets/api.png', width="100%")
