//- header.jade
header.site-header  
  nav.site-nav
    ul 
      li 
        a(href='doc2/model') SACM Docu
      li 
        a(href='doc2/model',  class='active') Meta-Model 
      li 
        a(href='doc2/model') XML-Import 
      li 
        a(href='doc2/model') How to start Development
      li 
        a(href='doc2/model') API Doc