//- header.jade
header.site-header  
  nav.site-nav
    ul 
      li 
        a(href='/doc2/model') SACM Docu
      li 
        a(href='/doc2/architecture',  class= (active=='architecture') ? 'active' : 'passive') Architecture
      li 
        a(href='/doc2/model',  class= (active=='model') ? 'active' : 'passive') Meta-Model 
      li 
        a(href='/doc2/xml', class= (active=='xml') ? 'active' : 'passive') XML-Import 
      li 
        a(href='/doc2/model') How to start
      li 
        a(href='/doc2/model') API Doc