extends ./layout.pug

block title  
  title Home
block content  
  h2 SACM Meta-Model Elements (Draft)
  | Figure below illustrates the SACM meta model notated in UML. In general, the UML diagram illustrates 6 core concepts in different colors. Centered the <a class="link" href="#datadefinition">data definition</a> and <a class="link" href="#data">data instances</a> are represented in dark gray and light grey. The <a class="link" href="#casedefinition">case definition</a> and <a class="link" href="#case">case instances</a> are indicated in dark yellow and light yellow. Other concepts such as the <a class="link" href="#roles">role management</a> is represented on the left and the <a class="link" href="#workspace">workspace</a> on the top. In the following sections the main concepts explained more detailed.
  

  a(name="roles")
  div(class="container roles")
    h2 Role Management 
    | The Role Management is considered on a system level, meaning roles work across workspace boundaries. 
    p 
        b Principal
        | A principal is an abstraction of a group and a person. This helps to use the concept in a flexible way.
    p
        b Group
        | A group consist of subgroups and persons who have a membership.
    p
        b User
        | A user represents a single person in the system. A user can contain multiple attributes.
    p 
        b Membership
        | A membership represents the relationship between user and a group. E.g. the data of creating the membership.
 
